{% extends 'base.html' %}
{% block title %} Blogs| Add Blog {% endblock %}
{% block content %}


{% if user.is_authenticated %}
    <h1>Add Blog</h1>
    <br/><br/>
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <!-- {{ form.as_ul }} -->
            <button class="btn btn-success">Add Blog</button>
        </form>
    </div>
    <script>
        var name="{{ user.id }}";
        document.getElementById("username").value=name;
    </script>
{% else %}
    YOU ARE NOT ALLOWED TO ADD POSTS!!
{% endif %}
{% endblock %}