{% extends 'base.html' %}
{% block title %} Blogpost | {{ post.title_tag}} {% endblock %}
{% block content %}

<!-- Current User: {{user.id}} -->
<h1>{{ post.title}}</h1>
<small>📍 {{post.author.first_name}} {{post.author.last_name}}- 
    {{post.category}}
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
        <a href="{% url 'update_post' post.pk %}" class="btn btn-warning">( Edit )</a>
        <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger">( Delete )</a> 
        {% endif %}
    {% endif %}
<p>{{post.post_date}}</p>
</small>
<br/>
<hr>
<br/>
{{post.body|safe}}
<br/>
{% if post.header_image %}
<img src="{{post.header_image.url }}"></img>
{% endif %}
<a href="{%url 'home'%}" class="btn btn-secondary">BACK</a>
<br/><br/>
<hr>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    {% if user.id == post.author.id %}
        {% if liked %}
            <button class="btn btn-danger btn-sm" type="submit" name="post_id" value="{{post.id}}">UNLIKE BLOG👎</button>
        {% else %}
            <button class="btn btn-success btn-sm" type="submit" name="post_id" value="{{post.id}}">LIKE BLOG👍</button>
        {% endif %}
    {% else %}
        <p> <a href="{% url 'login' %}">LOGIN</a> to like this blog</p>
    {% endif %}
    {{total_likes}} Likes
</form>
{% endblock %}