{% extends 'base.html' %}
{% load static %}
{% block title %} Blogpost | {{ post.title_tag}} {% endblock %}
{% block content %}

<!-- Current User: {{user.id}} -->
<h1>{{ post.title}}</h1>
📍 AUTHOR -
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            {% if post.author.profile.profile_pic.url %}
            <img src="{{post.author.profile.profile_pic }}" class="img-fluid rounded-start">
            {% else %}
            <img src="{% static 'theblog/images/5907.jpg' %}" class="img-fluid rounded-start"alt=".....">
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{post.author.first_name}} {{post.author.last_name}}</h5>
              <p class="card-text">
                  {% if post.author.profile.website_url  %}
                  <a href="{{post.author.profile.website_url }}"> Website </a>
                  {% endif %}
                  {% if post.author.profile.fb_url  %}
                  |<a href="{{post.author.profile.fb_url }}"> Facebook </a>
                  {% endif %}
                  {% if post.author.profile.linkedin_url  %}
                  |<a href="{{post.author.profile.linkedin_url }}"> LinkedIn </a>
                  {% endif %}
                  {% if post.author.profile.twitter_url %}
                  |<a href="{{post.author.profile.twitter_url }}"> Twitter </a>
                  {% endif %}
                  {% if post.author.profile.insta_url %}
                  |<a href="{{post.author.profile.insta_url }}"> Instagram</a>
                  {% endif %}
                </p>
              <p class="card-text">{{post.author.profile.bio }}</p>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
        </div>
      </div>
       <!-- {{post.author.first_name}} {{post.author.last_name}}- 
    <img src="{{post.author.profile.profile_pic.url }}" width="100" height="100" class="rounded-circle"></img>
    <br><br><br> -->
    Blog Category : {{post.category}}
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
        <a href="{% url 'update_post' post.pk %}" class="btn btn-warning">( Edit )</a>
        <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger">( Delete )</a> 
        {% endif %}
    {% endif %}
<p>{{post.post_date}}</p>
<br/>
<hr>
<br/>
{{post.body|safe}}
<br/>
{% if post.header_image %}
<img src="{{post.header_image.url }}"></img>
{% endif %}
<a href="{%url 'home'%}" class="btn btn-secondary">BACK</a>
<br/><br/>
<hr>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    {% if user.id == post.author.id %}
        {% if liked %}
            <button class="btn btn-danger btn-sm" type="submit" name="post_id" value="{{post.id}}">UNLIKE BLOG👎</button>
        {% else %}
            <button class="btn btn-success btn-sm" type="submit" name="post_id" value="{{post.id}}">LIKE BLOG👍</button>
        {% endif %}
    {% else %}
        <p> <a href="{% url 'login' %}">LOGIN</a> to like this blog</p>
    {% endif %}
    {{total_likes}} Likes
</form>
{% endblock %}