{% extends 'base.html' %}
{% block title %} Blogpost | {{ post.title_tag}} {% endblock %}
{% block content %}


<h1>{{ post.title}}</h1>
<small>By : {{post.author.first_name}} {{post.author.last_name}}- 
    {{post.category}}
    {% if user.is_authenticated %}
        <a href="{% url 'update_post' post.pk %}" class="btn btn-warning">( Edit )</a>
        <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger">( Delete )</a> 
    {% endif %}
<p>{{post.post_date}}</p>
</small>
<br/>
<hr>
<br/>
{{post.body|safe}}
<br/>
<a href="{%url 'home'%}" class="btn btn-secondary">BACK</a>

{% endblock %}