{% extends 'base.html' %}
{% block title %} Blogs| Delete Blog {% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <h1>Delete Blog</h1>
    <br/><br/>

    <h3>Delete : {{post.title}}</h3>
    <br/>
    {% if user.id == post.author.id %}
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                <!-- {{ form.as_p }} -->
                <!-- {{ form.as_ul }} -->
                <strong>Are You sure "YOU WANT TO DELETE"?</strong><br/>
                <button class="btn btn-danger"> Delete </button>
            </form>
        </div>
    {%else%}
    YOU ARE NOT ALLOWED TO DELETE OTHER AUTHOR'S POST !!!
    {%endif%} 
{% else %}
    YOU ARE NOT ALLOWED TO DELETE ANY POST 
{% endif %}

{% endblock %}